/* nav * {box-sizing: border-box;}
body { margin: 0;}
img {width:100%;}
a }

.dropdark {filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.8));}
.rotateleft {transform: rotate(-6.67deg);}
.droplight { text-shadow: 10px 8px 0px #FFFFFF;}
.rotateright {transform: rotate(7.33deg);}
 {
  width: 100%;
  background-color:lightskyblue;
}

nav ul{
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0;
  justify-content: flex-end;
}

nav li {padding: 10px 16px;
}


.two-col {
  display: flex;
  width:80%;
  margin: auto;
}

.two-col .left {
    margin-top: 100px;
  flex: 25%;
  }
.two-col .right {
  flex: 75%;
  margin-left: -120px;
  z-index: -1;
  }
.cheer-up-box {
border-radius: 9px;
padding:60px;
padding-left: 200px;
}
.grad-yellow {
  background: rgb(251,189,104);
background: linear-gradient(90deg, rgba(251,189,104,1) 0%, rgba(252,209,151,1) 12%, rgba(255,255,255,1) 100%);
}

.button {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 9px;
  background-color: darkcyan;
  color: #fff;
}
*/

/*

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  width:100%;
  margin-left:0;
  height:1024px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  background-color:#ffffff;
  overflow:hidden;
}
.Frame-outer{
  z-index:2;
}
.bkgd{
  position:relative;
  z-index:4;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:1024px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:1024px;
  content:url(assets/images/bkgd.png);

.bkgd{
  position:relative;
  z-index:3;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:1024px;
  margin-top:-1024px;
  margin-bottom:0px;
  min-height:1024px;
  content:url(assets/images/bkgd.png);
  visibility:hidden;
}
.bkgd-outer{
  z-index:3;
  position:relative;
  display:flex;
}
.home{
  position:relative;
  z-index:16;
  margin-left:1087px;
  width:284px;
  min-width:284px;
  margin-top:-1006px;
  margin-bottom:926px;
  min-height:80px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Georgia;
  font-weight:400;
  font-size:36px;
  line-height:41px;
}
.home-outer{
  z-index:16;
  position:relative;
  display:flex;
}
.books{
  position:relative;
  z-index:15;
  margin-left:1229px;
  width:284px;
  min-width:284px;
  margin-top:-1006px;
  margin-bottom:926px;
  min-height:80px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Georgia;
  font-weight:400;
  font-size:36px;
  line-height:41px;
}
.books-outer{
  z-index:15;
  position:relative;
  display:flex;
}
.lom-cover{
  position:relative;
  z-index:9;
  margin-left:170px;
  width:374px;
  min-width:374px;
  height:524px;
  margin-top:-797px;
  margin-bottom:273px;
  min-height:524px;
  background-image:src(assets/images/lom-cover.png);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  filter:drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.800000011920929));
}
.lom-cover-outer{
  z-index:9;
  position:relative;
  display:flex;
}
.lom{
  position:relative;
  z-index:10;
  transform:rotate(7.3318699443779725deg);
  margin-left:712px;
  width:621px;
  min-width:621px;
  margin-top:-784px;
  margin-bottom:630px;
  min-height:154px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Verdana;
  font-weight:700;
  font-size:72px;
  line-height:87px;
  text-shadow:10px 8px 0px rgba(255, 255, 255, 1);
}
.Life-of-Melody-outer{
  z-index:10;
  position:relative;
  display:flex;
}
.gradient{
  position:relative;
  z-index:8;
  margin-left:512px;
  width:684px;
  min-width:684px;
  height:407px;
  margin-top:-765px;
  margin-bottom:358px;
  min-height:407px;
  content:url(assets/images/gradient.png);
}
.gradient-outer{
  z-index:8;
  position:relative;
  display:flex;
}
.Rectangle-17{
  position:relative;
  z-index:7;
  margin-left:395px;
  width:801px;
  min-width:801px;
  height:407px;
  margin-top:-765px;
  margin-bottom:358px;
  min-height:407px;
  background-color:rgba(241, 184, 175, 1);
  border-radius:9px;
  mix-blend-mode:overlay;
}
.Rectangle-17-outer{
  position:relative;
  display:flex;
}
.Rectangle-12{
  position:relative;
  z-index:6;
  margin-left:395px;
  width:801px;
  min-width:801px;
  height:407px;
  margin-top:-765px;
  margin-bottom:358px;
  min-height:407px;
  background-color:rgba(241, 184, 175, 1);
  filter:drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.800000011920929));
  border-radius:9px;
}
.Rectangle-12-outer{
  z-index:6;
  position:relative;
  display:flex;
}
.Vibes--Magical-Autho{
  position:relative;
  z-index:11;
  margin-left:595px;
  width:245px;
  min-width:245px;
  margin-top:-708px;
  margin-bottom:614px;
  min-height:94px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(60, 60, 60, 1);
  font-style:normal;
  font-family:Verdana;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Vibes--Magical-Autho-outer{
  z-index:11;
  position:relative;
  display:flex;
}
.In-the-fairy-realm--{
  position:relative;
  z-index:12;
  margin-left:595px;
  width:524px;
  min-width:524px;
  margin-top:-590px;
  margin-bottom:303px;
  min-height:287px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Georgia;
  font-weight:400;
  font-size:16px;
  line-height:19px;
}
.In-the-fairy-realm---outer{
  z-index:12;
  position:relative;
  display:flex;
}
.Rectangle-7{
  position:relative;
  z-index:14;
  transform:rotate(90.05406758721158deg);
  margin-left:865px;
  width:241.28px;
  min-width:241.28px;
  height:1486.5px;
  margin-top:-329px;
  margin-bottom:-1157.5px;
  min-height:1486.5px;
  background-color:rgba(55, 82, 90, 1);
}
.Rectangle-7-outer{
  z-index:14;
  position:relative;
  display:flex;
}
.Rectangle-16{
  position:relative;
  z-index:5;
  margin-left:249px;
  width:210px;
  min-width:210px;
  height:42px;
  margin-top:-209px;
  margin-bottom:167px;
  min-height:42px;
  background-color:rgba(55, 82, 90, 1);
  filter:drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.800000011920929));
  border-radius:9px;
}
.Rectangle-16-outer{
  z-index:5;
  position:relative;
  display:flex;
}
.Buying-Options{
  position:relative;
  z-index:13;
  margin-left:260px;
  width:194px;
  min-width:194px;
  margin-top:-205px;
  margin-bottom:167px;
  min-height:38px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Verdana;
  font-weight:400;
  font-size:24px;
  line-height:29px;
}
.Buying-Options-outer{
  z-index:13;
  position:relative;
  display:flex;
}

*/